<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game History</title>
</head>
<body>
    <h1>Game History</h1>
    <table border="1">
        <tr>
            <th>Game ID</th>
            <th>Moves</th>
            <th>Winner</th>
        </tr>
        {% for game in games %}
            <tr>
                <td>{{ game[0] }}</td>
                <td>{{ game[1] }}</td>
                <td>{{ game[2] }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/">Back to Game</a>
</body>
</html>
